@charset "utf-8";
/* CSS Document */
*{
	padding: 0px;
	margin: 0px;
}
body
{
	width:100%;
	height:100%;
}
header
{
	width:100%;
	background:white;
}
table
{
	width:100%;
}
.headlink
{
	text-decoration:none;
	color:#00B5E0;
	font-weight:300;
}
a
{
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
	color:white;
	font-weight:400;
}
a:hover
{
	color: #00B5E0;
}
a.headlink:hover
{
	color:#FFDA2D;
}
nav
{
	width:auto;
	height:30px;
	padding:5px;
	background:#1F2533;
	font-size:14px;
}
#navmenu ul
{
	list-style:none;	
}
#navmenu ul li
{
	padding-left:6%;
	width:13%;
	height:30px;
	line-height:30px;
	text-align:center;
	position:relative;
	float:left;
}
#navmenu ul li a
{
display:block;
}
section
{
	padding-top:20px;
	width:100%;
	height:600px;
	background-image:url(../images/booking%20background/White_Background_01.jpg);

}
footer
{
	height:auto;
	background:#333338;
	font-size:14px;
}
b
{
	font-family:Verdana,Geneva,sans-serif;
	font-weight:400;
	color:#00B5E0;
}
#selectcity
{
	padding-left:5px;
	min-width:90px;
	min-height:30px;
	border-color:#00B5E0;
	border-radius:3px;
}
#searchbox
{
	min-width:auto;
	min-height:28px;
}
#searchbutton
{
	min-height:33px;
	min-width:80px;
	color:white;
	background-color:#00B5E0;
	border-radius:3px;
	cursor:pointer;
}
div.navbar
{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:500;
}

fieldset
{
	padding:20px;
	width:40%;
	height:auto;
  border:2px solid #AED0EA;
  border-radius:8px;
  box-shadow:0 0 12px #D7EBF9;
}
legend
{
	font-family: "Arial", Helvetica, sans-serif;
  font-size: 120%;
  text-align: center;
  color:#2779AA;
}
#box
{
	padding-top:4%;
}
label
{
	font-family: "Arial", Helvetica, sans-serif;
    color: #2779AA;
}
.select_box
{
	padding-left:5px;
	min-height:30px;
	width:55%;
}
.input_box
{
	padding-left:5px;
	min-height:30px;
	width:55%;
}
#cvv_box
{
	padding-left:5px;
	width:20%;
	height:25px;
}
#mm_box
{
	padding-left:5px;
	width:15%;
	height:25px;
}
#yyyy_box
{
	padding-left:5px;
	width:20%;
	height:25px;
}
.padtd
{
	padding:5px;
}
#pay_now
{
	min-width:120px;
	min-height:30px;
	border-radius:3px;
	box-shadow:0 0 10px #D7EBF9;
	background-color:#00B5E0;
	color:White;
	cursor:pointer;
}
#note
{
	font-family: "Arial", Helvetica, sans-serif;
	color: #2779AA;
  font-size: 90%;
  text-align: center;
  font-weight:100;
}
li.foot
{
	padding:2px;
	list-style:none;
}
li.foot a img
{
	border-radius:6px;
}
.banklogo
{
	border-radius:5px;
}
#bankpartner
{
	font-family:Verdana,Geneva,sans-serif;
	font-weight:500;
	color:#00B5E0;
}
#footer
{
	font-family:Verdana,Geneva,sans-serif;
	font-weight:400;
	color:#00B5E0;
}