@charset "utf-8";
/* CSS Document */
*{
	padding: 0px;
	margin: 0px;
}
body
{
	width:100%;
	height:100%;
}
header
{
	width:100%;
	background:white;
}
table
{
	width:100%;
}
#table
{
	width:100%;
}
.headlink
{
	text-decoration:none;
	color:#00B5E0;
	font-weight:300;
}
a
{
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
	color:white;
	font-weight:400;
}
a:hover
{
	color: #00B5E0;
}
a.headlink:hover
{
	color:#FFDA2D;
}
nav
{
	width:auto;
	height:30px;
	padding:5px;
	background:#1F2533;
	font-size:14px;
}
#navmenu ul
{
	list-style:none;	
}
#navmenu ul li
{
	padding-left:6%;
	width:13%;
	height:30px;
	line-height:30px;
	text-align:center;
	position:relative;
	float:left;
}
#navmenu ul li a
{
display:block;
}
section
{
	padding-top:20px;
	padding-bottom:8px;
	width:100%;
	height:auto;
	background-image:url(../images/booking%20background/300437-background-simple-white.jpg);

}
footer
{
	width:100%;
	height:auto;
	background:#333338;
	font-size:14px;
}
b
{
	font-family:Verdana,Geneva,sans-serif;
	font-weight:400;
	color:#00B5E0;
}
#selectcity
{
	padding-left:5px;
	min-width:90px;
	min-height:30px;
	border-color:#00B5E0;
	border-radius:3px;
}
#searchbox
{
	min-width:auto;
	min-height:28px;
}
#searchbutton
{
	min-height:33px;
	min-width:80px;
	color:white;
	background-color:#00B5E0;
	border-radius:3px;
	cursor:pointer;
}
div.navbar
{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:500;
}
li.foot
{
	padding:2px;
	list-style:none;
}
li.foot a img
{
	border-radius:6px;
}

h1
{
	font-family: "Arial", Helvetica, sans-serif;
	font-weight:500;
	color:#00B5E0;
}
#container
{
	background-color:white;
	padding:8px;
	width:65%;
	height:auto;
	 border:3px solid #AED0EA;
  border-radius:8px;
  box-shadow:0 0 14px #D7EBF9;
}
.check_box
{
	min-height:20px;
	width:20px;
}
#screen
{
	padding-top:50px;
	height:75px;
	width:40%;
	border: 8px solid #878787;
	background-color:#FFFFFF;
	box-shadow:0 0 12px #D7EBF9;
}
#screen_text
{
	font-family: "Arial", Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	color:#00B5E0;	
}
#book_button
{
	min-width:120px;
	min-height:30px;
	border-radius:3px;
	box-shadow:0 0 10px #D7EBF9;
	background-color:#00B5E0;
	color:White;
	cursor:pointer;
}
.tdcolor
{
	background-color:#D6D6D6;
}
#footer
{
	font-family:Verdana,Geneva,sans-serif;
	font-weight:400;
	color:#00B5E0;
}